@{
    ViewData["Title"] = "Статьи";

    var articles = (Model as ArticlesModel)?.Articles;
}

<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    @{
        System.Diagnostics.Debug.Assert(articles != null, nameof(articles) + " != null");
        foreach (var article in articles)
        {
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>@article.Id</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@article.Header</h5>
                        <p class="card-text">@article.Body</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p>@article.Footer</p>
                        <p>&copy; Blog</p>
                    </div>
                </div>
            </div>
        }
    }
    
</div>
